<html >
	<head >
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<title>Quora</title>


		<link href="/css/application.css" rel="stylesheet" type="text/css">
		<script src="/js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript"  src ="/js/application.js"></script>
	</head>

 

	<body>
		
		<!-- #how to connect with URL pass int he static rb -->

		<h4>Error </h4> 
		
	</body>
</html>
