* {
  margin: 0;
  padding: 0;/*
  box-sizing: border-box;*/
}

html, body {
  height: 100%;
  background-color: white;
  font-family: "Roboto Slab", serif;
  color: black;
}

/*.nav-bar {
  top: -.5em;
  position: relative;

}*/

ul {
   position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0047b3;
    border-color: #21925C;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;/*
    text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color:#0047b3;
}




.question {

  background-color: #0047b3;


}




.enter-ques
 {  
    margin-left: 250px;
    margin-top: 10px;
    margin-right: 0px;
    position: center;
   /* width: 55%;*/
    width: 700px;
    height:120%;
    /*padding: 14.4px 23px;*/
    /*margin: auto;*/
    color: white;
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: medium;/*
    font-weight: 200;*/
    font-family: 'Roboto Slab', serif;
    /*line-height: 32px;
    text-align: left;*/
    
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;*/
    
    /*border-width: 0;*/
    /*box-shadow: 0 0 0 1px #fff;*/

    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    /*border-bottom: 4px solid white;*/
    /*display: block;*/
    padding-bottom: 5px;
    
    position:relative;
    text-align: center;
}

.enter-ques:focus {
    color: black;
    background: white;
    font-weight: 550;
   /* background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);*/
    box-shadow: 0 0 0 1px rgba(238, 97, 35, .75), 0 0 4px 2px rgba(238, 97, 35, .2), inset 0 1px 2px 0 rgba(238, 97, 35, .2)*/
}

#ask-button{
    background-color: transparent; 
    color: white;
    margin-top: 17px;
    margin-bottom: 0;
    height:120%;
    text-align: center;
    margin: auto;
    padding: 2px 2px;
   /*
    display: inline-block;*/
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    border: 2px solid white;
    border-radius: 2px;


    /*-webkit-transition-duration: 0.4s;  Safari */
   /* transition-duration: 0.4s;
    cursor: pointer;*/
}

#ask-button:hover{
  background: white;
    color: #0047b3;


}






/*#logo:hover {
    background-color: #0047b3;
    color:white;
}*/



/*
.preload * {
  transition: none !important;
}

h1 {
	margin: auto;
    
    width: 100%;
    text-align: center;

}
label {
  display: block;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-bottom: 0.35em;
}

input[type="text"], input[type="password"] {
  width: 100%;
  border: none;
  padding: 0.5em;
  border-radius: 2px;
  margin-bottom: 0.5em;
  color: #333;
}
input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.3);
}

button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border: none;
  border-radius: 2px;
  background-color: #7E5AF1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
}

small {
  font-size: 1em;
}

.login--login-submit {
  float: right;
}

.login--container {
  width: 600px;
  background-color: #F15A5C;
  margin: auto;
  top: 50px
  position: relative;
}

.signup--container {
  width: 600px;
  background-color: #F15A5C;
  margin: auto;
  top: 500px;
  position: relative;
}
.login--toggle-container {
  position: absolute;
  background-color: #F15A5C;
  right: 0;
  line-height: 2.5em;
  width: 50%;
  height: 120px;
  text-align: right;
  cursor: pointer;
  transform: perspective(1000px) translateZ(1px);
  transform-origin: 0% 0%;
  transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
  backface-visibility: hidden;
}
.login--toggle-container .js-toggle-login {
  font-size: 4em;
  text-decoration: underline;
}
.login--active .login--toggle-container {
  transform: perspective(1000px) rotateY(180deg);
  background-color: #bc1012;
}

.login--username-container {
  float: left;
  background-color: #F15A5C;
  width: 50%;
  height: 120px;
  padding: 0.5em;
}

.login--username-container {
  transform-origin: 100% 0%;
  transform: perspective(1000px) rotateY(180deg);
  transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
  background-color: #bc1012;
  backface-visibility: hidden;
}
.login--active .login--username-container {
  transform: perspective(1000px) rotateY(0deg);
  background-color: #F15A5C;
}

footer {
  position: absolute;
  bottom: 12px;
  left: 20px;
}*/
