* {
  margin: 0;
  padding: 0;/*
  box-sizing: border-box;*/
}

html, body {
  height: 100%;
  background-color: white;
  font-family: "Roboto Slab", serif;
  color: black;
}

/*.nav-bar {
  top: -.5em;
  position: relative;

}*/

ul {
   position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0047b3;
    border-color: #21925C;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;/*
    text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color:#0047b3;
}









.enter-ques
 {  
    margin-left: 200px;
    margin-top: 10px;
    margin-right: 0px;
    /*
    display:inline-block;*/
   /* position: center;*/
   /* width: 55%;*/
    width: 160%;/*
    height:120%;*/
    /*padding: 14.4px 23px;*/
    /*margin: auto;*/
    color: white;
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: medium;/*
    font-weight: 200;*/
    font-family: 'Roboto Slab', serif;
    /*line-height: 32px;
    text-align: left;*/
    
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;*/
    
    /*border-width: 0;*/
    /*box-shadow: 0 0 0 1px #fff;*/

    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    /*border-bottom: 4px solid white;*/
    /*display: block;*/
    padding-bottom: 5px;
    
    position:relative;
    text-align: center;
}

.enter-ques:focus {
    color: black;
    background: white;
    font-weight: 550;
   /* background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);*/
    box-shadow: 0 0 0 1px rgba(238, 97, 35, .75), 0 0 4px 2px rgba(238, 97, 35, .2), inset 0 1px 2px 0 rgba(238, 97, 35, .2)*/
}

#ask-button{
    background-color: transparent; 
    color: white;
    margin-top: 17px;
    margin-bottom: 0;
    height:120%;
    text-align: center;
    margin: auto;
    padding: 2px 2px;
   /*
    display: inline-block;*/
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    border: 2px solid white;
    border-radius: 2px;
    display: none;


    /*-webkit-transition-duration: 0.4s;  Safari */
   /* transition-duration: 0.4s;
    cursor: pointer;*/
}

#ask-button:hover{
  background: white;
    color: #0047b3;


}

a {
    color: #0047b3;
    text-decoration: none;
}

a:hover, a:active {
    color:#ee6123;
    background-color: white;
  }


.container {
  background-color: #e6e6ff;
  padding: 10px;
  margin: 10px;
}

.body-feed {
 /* width: 600px;*/
 width: 600px;
  margin-top: 30px;
   margin: auto;
   
}

#navbar {
  background-color: white;
}

#show-button {
  margin-top: 25px;
  margin-bottom: 25px;
}

#name-button {
  margin-right: 80px;
}

#search-bar {
  width: 350px;
}

#quora-button {
  margin-left: 80px;
}

#question-feed {
  border-bottom: solid;
  border-width: 1px;
  border-color: #0047b3;
}

#name-first-answer {
  font-style: italic;
  font-size: small;
  text-align: right;
}

#answer-name-feed {
  font-style: italic;
  /*border-bottom: solid;
  border-width: 0.5px;
  border-color: #FF0000;*/
  margin-bottom: 10px;
  text-align: right;
}


.answer-text {
border-bottom: solid;
  border-width: 0.5px;
  border-color: #FF0000;


}

#login-div {
  border: solid;
  border-width: 1px;
  width: 600px;
  height: 400px;
  align: center;
  margin-top: 120px;
}

#align-right {
  text-align: right;
}

#align-left {
  text-align: left;
}

#index-form {
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: #EEE;
  border-radius: 4px;
  border: transparent;
}

#error-signup {
  margin-top: 10px;
  margin-left: 30px;
  background-color: #ff0000;
  opacity: 0.3;
  color: white;
  width: 200px;
  border: solid;
  border-radius: 8px;
  border-color: white;
  text-align: center;
}

#login-succes {
  margin-top: 50px;
  background-color: #ff0000;
  opacity: 0.3;
  color: white;
  width: 200px;
  border: solid;
  border-radius: 8px;
  border-color: white;
}

#profile {
  margin-left: 50px;
  padding-left: 50px;
}

#user-div {
  border: solid;
  border-width: 1px;
  width: 600px;
  height: 200px;
  align: center;
  margin-top: 60px;
  padding-top: 20px;
  margin-bottom: 40px;
}

#question-bar {
  width: 570px;
  margin: 15px;
  margin-left: 0px;
  height: 40px;

}

#detail-bar {
  width: 570px;
  margin: 15px;
  margin-left: 0px;
  height: 80px;
}



/*QUESTIONS*/
  
.ques-answer-input {
    margin:auto;
   /* width: 55%;*/
    width: 60%;
    /*height:120%;*/
    
    color: #0047b3;
    font-size: medium;
    font-family: 'Roboto Slab', serif;

    background: white;
    border-color: #0047b3;
    border-radius: 3px;
    /*border-bottom: 4px solid white;*/
    /*display: block;*/
    padding-bottom: 5px;
    
    
    text-align: left;


}

#answer-button {
  background-color: transparent; 
    color: #0047b3;
    
    text-align: center;
    margin: auto;
    padding:2px;
   
   /*
    display: inline-block;*/
    font-family: 'Roboto Slab', serif;
    font-size: medium;
 /*   border: 2px solid;
    border-color: #0047b3;
    border-radius: 2px;*/

    border:none;
}


#answer-button:hover{
  background: #0047b3;
    color: white;


}

#upvote{
display:inline;
  background-color: white; 
    color: #0047b3;
    margin-top: 2px;
    text-align: center;
    margin: auto;
    padding: 3px, 2px;
   
   /*
    display: inline-block;*/
    font-family: 'Roboto Slab', serif;
    font-size: small;
    border: .7px solid;
    border-color: #0047b3;
    border-radius: 2px;
    position: left;


}

/*#upvote:hover {

    background-color: #0047b3;
    color: white;


}*/

#upvote  {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#upvote:after {
  content: '^';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#upvote:hover  {
  background-color: #0047b3;
    color: white;
}

#upvote:hover:after {
  opacity: 1;
  right: 0;
}

#upvote-form {

display:inline;

}
#answer-name-feed {
  font-style: italic;
  font-size: small;
  text-align: right;
  display: inline-block;
}


#ans-info{

  text-align: right;
}








