



    <div id="header">
      <h1>Quora</h1>
    </div>

    <div id="signin">
    	<h2>Sign up for an account!</h2>
		<form method="post" action="/signup">
		    <input type=text placeholder="Full Name" name="user[full_name]"><br>
		    <input type=text placeholder="Username" name="user[username]"><br>
		    <input type=text placeholder="Email" name="user[email]"><br>
		    <input type=password placeholder="Password" name="password"></br>
		    <input type=submit value="Sign up">
		</form>

			<br>
			<br>
			<br>
			<br>

		 <h3>Login to your account!</h3>
		<form method=post action=/login>
		    <input type=text placeholder="Email" name="email"><br>
		    <input type=password placeholder="Password" name="password"></br>
		    <input type=submit value="Login">
		</form>
    </div>




